# Test queries

In [1]:
%load_ext sql

In [2]:
import pandas as pd
import boto3
import json
import configparser
import psycopg2
from botocore.exceptions import ClientError

In [3]:
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))
KEY=config.get('AWS','key')
SECRET= config.get('AWS','secret')

DWH_DB= config.get("DWH","DWH_DB")
DWH_DB_USER= config.get("DWH","DWH_DB_USER")
DWH_DB_PASSWORD= config.get("DWH","DWH_DB_PASSWORD")
DWH_PORT = config.get("DWH","DWH_PORT")

DWH_ENDPOINT= config.get("CLUSTER","HOST")

In [4]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.crvfqylmexoy.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

In [5]:
%sql SELECT COUNT(*) AS total FROM songs;

 * postgresql://dwhuser:***@dwhcluster.crvfqylmexoy.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(14896,)]

In [6]:
%sql SELECT * FROM songs LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.crvfqylmexoy.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('SOAAAQN12AB01856D3', 'Campeones De La Vida', 'ARAMIDF1187FB3D8D4', 0, Decimal('153')),
 ('SOAAOLZ12A6D4FB403', 'Somebody Knew', 'ARRSUF71187FB52F33', 1997, Decimal('188')),
 ('SOAAUGN12AB01830B6', "Don't Wanna Suffer (Carbon Copy)", 'ARVC9W21187B99354B', 2003, Decimal('180')),
 ('SOAAVYM12A8C13C43C', "Barn's On Fire", 'ARGUSVR1187B9AD15E', 2008, Decimal('103')),
 ('SOABYIT12AB0183026', 'Vilda vindar', 'AR98ZSW1187B98E82C', 1985, Decimal('266'))]

In [7]:
%sql SELECT COUNT(*) AS total FROM songplays;

 * postgresql://dwhuser:***@dwhcluster.crvfqylmexoy.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(333,)]

In [8]:
%sql SELECT * FROM songplays LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.crvfqylmexoy.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(203, datetime.datetime(155, 1, 18, 21, 18, 36), 25, 'paid', 'SOHWVJJ12AB0185F6D', 'ARASYMJ1187B9ACAF2', 128, 'Marinette, WI-MI', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (145, datetime.datetime(155, 1, 25, 9, 38, 36), 71, 'free', 'SOBBZPM12AB017DF4B', 'ARH6W4X1187B99274F', 70, 'Columbia, SC', '"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_1 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D201 Safari/9537.53"'),
 (119, datetime.datetime(155, 2, 13, 14, 38, 36), 95, 'paid', 'SOYTFSY12A6D4FD84E', 'ARRFSMX1187FB39B03', 152, 'Winston-Salem, NC', '"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D257 Safari/9537.53"'),
 (50, datetime.datetime(155, 3, 3, 6, 38, 36), 91, 'free', 'SOODHLO12AF72A1980', 'ARNLVQB1187B9AEAB0', 90, 'Dallas-Fort Worth-Arlington, TX', 'Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; WOW64; Trident/6.0)'),
 (70, datetime.datetime(155, 3, 13, 23, 28, 36), 97, 'paid', 'SOWEFTO12A3F1EB976', 'ARPN0Y61187B9ABAA0', 147, 'Lansing-East Lansing, MI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"')]

In [9]:
%sql SELECT COUNT(*) AS total FROM artists;

 * postgresql://dwhuser:***@dwhcluster.crvfqylmexoy.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(10025,)]

In [10]:
%sql SELECT * FROM artists LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.crvfqylmexoy.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('AR00DG71187B9B7FCB', 'Basslovers United', '', None, None),
 ('AR00YYQ1187FB504DC', 'God Is My Co-Pilot', 'New York, NY', 40.0, -74.0),
 ('AR01SCU1187B9A693C', 'Street Dogs', 'Boston, MA', None, None),
 ('AR02LMQ1187B992AC9', 'The Classic Crime', 'Seattle, WA', 47.0, -122.0),
 ('AR03ESE1187B992BC5', 'Bon Voyage', '', None, None)]

In [11]:
%sql SELECT COUNT(*) AS total FROM users;

 * postgresql://dwhuser:***@dwhcluster.crvfqylmexoy.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(104,)]

In [12]:
%sql SELECT * FROM users LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.crvfqylmexoy.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(15, 'Lily', 'Koch', 'F', 'paid'),
 (15, 'Lily', 'Koch', 'F', 'free'),
 (22, 'Sean', 'Wilson', 'F', 'free'),
 (23, 'Morris', 'Gilmore', 'M', 'free'),
 (24, 'Layla', 'Griffin', 'F', 'paid')]

In [13]:
%sql SELECT COUNT(*) AS total FROM time;

 * postgresql://dwhuser:***@dwhcluster.crvfqylmexoy.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(7692,)]

In [14]:
%sql SELECT * FROM time LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.crvfqylmexoy.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(datetime.datetime(154, 11, 9, 12, 58, 36), 12, 9, 45, 11, 154, 6),
 (datetime.datetime(154, 11, 14, 3, 48, 36), 3, 14, 46, 11, 154, 4),
 (datetime.datetime(154, 12, 7, 15, 8, 36), 15, 7, 49, 12, 154, 6),
 (datetime.datetime(154, 12, 20, 2, 18, 36), 2, 20, 51, 12, 154, 5),
 (datetime.datetime(154, 12, 20, 22, 8, 36), 22, 20, 51, 12, 154, 5)]

In [15]:
%sql SELECT COUNT(*) AS total FROM staging_events;

 * postgresql://dwhuser:***@dwhcluster.crvfqylmexoy.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(8056,)]

In [16]:
%sql SELECT * FROM staging_events LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.crvfqylmexoy.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(None, 'Logged Out', None, None, 0, None, None, 'free', None, 'PUT', 'Login', None, 52, None, 307, '1541207073796', None, None),
 (None, 'Logged In', 'Celeste', 'F', 1, 'Williams', None, 'free', 'Klamath Falls, OR', 'GET', 'Home', 1541077528796.0, 52, None, 200, '1541207123796', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"', 53),
 ('Mynt', 'Logged In', 'Celeste', 'F', 2, 'Williams', Decimal('166'), 'free', 'Klamath Falls, OR', 'PUT', 'NextSong', 1541077528796.0, 52, 'Playa Haters', 200, '1541207150796', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"', 53),
 ('Taylor Swift', 'Logged In', 'Celeste', 'F', 3, 'Williams', Decimal('230'), 'free', 'Klamath Falls, OR', 'PUT', 'NextSong', 1541077528796.0, 52, 'You Belong With Me', 200, '1541207316796', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"', 53),
 ('Amy Winehouse', 'Logged In', 'Celeste', 'F', 4, 'Williams', Decimal('229'), 'free', 'Klamath Falls, OR', 'PUT', 'NextSong', 1541077528796.0, 52, 'Valerie', 200, '1541207546796', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"', 53)]

In [17]:
%sql SELECT COUNT(*) AS total FROM staging_songs;

 * postgresql://dwhuser:***@dwhcluster.crvfqylmexoy.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(14896,)]

In [18]:
%sql SELECT * FROM staging_songs LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.crvfqylmexoy.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(1, 'AR35RMH1187FB4A865', Decimal('-22'), Decimal('-43'), 'Rio de Janeiro', 'Eumir Deodato', 'SOHZIGH12A6D4F8D14', 'A Grande Cacada', Decimal('111'), 0),
 (1, 'ARXDGV71187B990B08', Decimal('34'), Decimal('-90'), 'Darling, MS', 'Super Chikan', 'SOXQUAN12A8C14237B', 'Big Boy Now', Decimal('212'), 2000),
 (1, 'AR9AM2N1187B9AD2F1', Decimal('53'), Decimal('-2'), 'Manchester, England', 'Inspiral Carpets', 'SODDZAD12A6701DC4C', 'Commercial Reign', Decimal('283'), 1990),
 (1, 'AR1FMBJ1187B992A46', None, None, '', 'Melotron', 'SOFACJY12AB01897BE', 'Menschenfresser', Decimal('295'), 2005),
 (1, 'ARPN0Y61187B9ABAA0', Decimal('53'), Decimal('-2'), 'Manchester, England', 'The Smiths', 'SOFVOQL12A6D4F7456', 'The Boy With The Thorn In His Side', Decimal('196'), 1985)]