# Exercise 03 - Columnar Vs Row Storage

- The columnar storage extension used here: 
    - cstore_fdw by citus_data [https://github.com/citusdata/cstore_fdw](https://github.com/citusdata/cstore_fdw)
- The data tables are the ones used by citus_data to show the storage extension

In [1]:
%load_ext sql

## STEP 0 : Connect to the local database where Pagila is loaded

### Create the database

In [2]:
!sudo -u postgres psql -c 'CREATE DATABASE reviews;'

!wget http://examples.citusdata.com/customer_reviews_1998.csv.gz
!wget http://examples.citusdata.com/customer_reviews_1999.csv.gz

!gzip -d customer_reviews_1998.csv.gz 
!gzip -d customer_reviews_1999.csv.gz 

!mv customer_reviews_1998.csv /tmp/customer_reviews_1998.csv
!mv customer_reviews_1999.csv /tmp/customer_reviews_1999.csv

CREATE DATABASE
--2022-08-23 11:56:08--  http://examples.citusdata.com/customer_reviews_1998.csv.gz
Resolving examples.citusdata.com (examples.citusdata.com)... 104.26.14.56, 104.26.15.56, 172.67.73.2, ...
Connecting to examples.citusdata.com (examples.citusdata.com)|104.26.14.56|:80... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://examples.citusdata.com/customer_reviews_1998.csv.gz [following]
--2022-08-23 11:56:08--  https://examples.citusdata.com/customer_reviews_1998.csv.gz
Connecting to examples.citusdata.com (examples.citusdata.com)|104.26.14.56|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 24774482 (24M) [application/x-gzip]
Saving to: ‘customer_reviews_1998.csv.gz’

customer_reviews_19 100%[===================>]  23.63M  17.1MB/s    in 1.4s

2022-08-23 11:56:09 (17.1 MB/s) - ‘customer_reviews_1998.csv.gz’ saved [24774482/24774482]

URL transformed to HTTPS due to an HSTS policy
--2022-08-23 11:56:10--  https://examples.citusdata.com/customer_reviews_1999.csv.gz
Resolving examples.citusdata.com (examples.citusdata.com)... 104.26.14.56, 104.26.15.56, 172.67.73.2, ...
Connecting to examples.citusdata.com (examples.citusdata.com)|104.26.14.56|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 48996256 (47M) [application/x-gzip]
Saving to: ‘customer_reviews_1999.csv.gz’

customer_reviews_19 100%[===================>]  46.73M   132MB/s    in 0.4s

2022-08-23 11:56:11 (132 MB/s) - ‘customer_reviews_1999.csv.gz’ saved [48996256/48996256]

### Connect to the database

In [3]:
DB_ENDPOINT = "127.0.0.1"
DB = 'reviews'
DB_USER = 'student'
DB_PASSWORD = 'student'
DB_PORT = '5432'

# postgresql://username:password@host:port/database
conn_string = "postgresql://{}:{}@{}:{}/{}" \
                        .format(DB_USER, DB_PASSWORD, DB_ENDPOINT, DB_PORT, DB)

print(conn_string)

postgresql://student:student@127.0.0.1:5432/reviews

In [4]:
%sql $conn_string

'Connected: student@reviews'

## STEP 1 :  Create a table with a normal  (Row) storage & load data

**TODO:** Create a table called customer_reviews_row with the column names contained in the `customer_reviews_1998.csv` and `customer_reviews_1999.csv` files.

In [5]:
%%sql
DROP TABLE IF EXISTS customer_reviews_row;
CREATE TABLE customer_reviews_row
(
    customer_id TEXT,
    review_date DATE,
    review_rating INTEGER,
    review_votes INTEGER,
    review_helpful_votes INTEGER,
    product_id CHAR(10),
    product_title TEXT,
    product_sales_rank BIGINT,
    product_group TEXT,
    product_category TEXT,
    product_subcategory TEXT,
    similar_product_ids CHAR(10)[]
)

 * postgresql://student:***@127.0.0.1:5432/reviews
Done.
Done.

[]

**TODO:** Use the [COPY statement](https://www.postgresql.org/docs/9.2/sql-copy.html) to populate the tables with the data in the `customer_reviews_1998.csv` and `customer_reviews_1999.csv` files. You can access the files in the `/tmp/` folder.

In [6]:
%%sql 
COPY customer_reviews_row FROM '/tmp/customer_reviews_1998.csv' WITH CSV;
COPY customer_reviews_row FROM '/tmp/customer_reviews_1999.csv' WITH CSV;

 * postgresql://student:***@127.0.0.1:5432/reviews
589859 rows affected.
1172645 rows affected.

[]

## STEP 2 :  Create a table with columnar storage & load data

First, load the extension to use columnar storage in Postgres.

In [7]:
%%sql

-- load extension first time after install
CREATE EXTENSION cstore_fdw;

-- create server object
CREATE SERVER cstore_server FOREIGN DATA WRAPPER cstore_fdw;

 * postgresql://student:***@127.0.0.1:5432/reviews
Done.
Done.

[]

**TODO:** Create a `FOREIGN TABLE` called `customer_reviews_col` with the column names contained in the `customer_reviews_1998.csv` and `customer_reviews_1999.csv` files.

In [8]:
%%sql
-- create foreign table
DROP FOREIGN TABLE IF EXISTS customer_reviews_col;

CREATE FOREIGN TABLE customer_reviews_col
(
    customer_id TEXT,
    review_date DATE,
    review_rating INTEGER,
    review_votes INTEGER,
    review_helpful_votes INTEGER,
    product_id CHAR(10),
    product_title TEXT,
    product_sales_rank BIGINT,
    product_group TEXT,
    product_category TEXT,
    product_subcategory TEXT,
    similar_product_ids CHAR(10)[]
)
SERVER cstore_server
OPTIONS(compression 'pglz');

 * postgresql://student:***@127.0.0.1:5432/reviews
Done.
Done.

[]

**TODO:** Use the [COPY statement](https://www.postgresql.org/docs/9.2/sql-copy.html) to populate the tables with the data in the `customer_reviews_1998.csv` and `customer_reviews_1999.csv` files. You can access the files in the `/tmp/` folder.

In [9]:
%%sql 
COPY customer_reviews_col FROM '/tmp/customer_reviews_1998.csv' WITH CSV;
COPY customer_reviews_col FROM '/tmp/customer_reviews_1999.csv' WITH CSV;

 * postgresql://student:***@127.0.0.1:5432/reviews
589859 rows affected.
1172645 rows affected.

[]

## Step 3: Compare perfromamce

Now run the same query on the two tables and compare the run time. Which form of storage is more performant?

**TODO**: Write a query that calculates the average `review_rating` by `product_title` for all reviews in 1995. Sort the data by `review_rating` in descending order. Limit the results to 20.

First run the query on `customer_reviews_row`:

In [13]:
%%time
%%sql
SELECT product_title, avg(review_rating)
FROM customer_reviews_row
WHERE review_date >= '1995-01-01' 
    AND review_date <= '1995-12-31'
GROUP BY product_title
ORDER by product_title;
;LIMIT 1000;

 * postgresql://student:***@127.0.0.1:5432/reviews
(psycopg2.ProgrammingError) operator does not exist: text #
LINE 7: #LIMIT 1000;
        ^
HINT:  No operator matches the given name and argument type(s). You might need to add explicit type casts.
 [SQL: "SELECT product_title, avg(review_rating)\nFROM customer_reviews_row\nWHERE review_date >= '1995-01-01' \n    AND review_date <= '1995-12-31'\nGROUP BY product_title\nORDER by product_title\n#LIMIT 1000;"]
CPU times: user 2.12 ms, sys: 456 µs, total: 2.57 ms
Wall time: 4.73 ms

 Then on `customer_reviews_col`:

In [11]:
%%time
%%sql
SELECT product_title, avg(review_rating)
FROM customer_reviews_col
WHERE review_date >= '1995-01-01' 
    AND review_date <= '1995-12-31'
GROUP BY product_title
ORDER by product_title
LIMIT 1000;

 * postgresql://student:***@127.0.0.1:5432/reviews
20 rows affected.
CPU times: user 3.02 ms, sys: 0 ns, total: 3.02 ms
Wall time: 20.3 ms

[('22 Immutable Laws of Marketing', Decimal('4.0000000000000000')),
 ('8051 Microcontroller', Decimal('4.0000000000000000')),
 ('99 Critical Shots in Pool ', Decimal('5.0000000000000000')),
 ("A Beginner's Guide to Constructing the Universe", Decimal('5.0000000000000000')),
 ('A Civil Action (Vintage)', Decimal('5.0000000000000000')),
 ('A Darkness at Sethanon ', Decimal('5.0000000000000000')),
 ('A Fire Upon The Deep (Zones of Thought)', Decimal('3.5000000000000000')),
 ('A First Course in General Relativity', Decimal('5.0000000000000000')),
 ('A Man on the Moon', Decimal('4.0000000000000000')),
 ("A People's History of the United States", Decimal('5.0000000000000000')),
 ("A People's History of the United States ", Decimal('5.0000000000000000')),
 ('A Piece of Blue Sky', Decimal('4.0000000000000000')),
 ('A Sea of Words, Third Edition', Decimal('5.0000000000000000')),
 ('A Skiff for All Seasons', Decimal('5.0000000000000000')),
 ('A Soldier of the Great War', Decimal('4.0000000000000000')),
 ('A Swiftly Tilting Planet', Decimal('5.0000000000000000')),
 ('A Swiftly Tilting Planet (Yearling Books)', Decimal('5.0000000000000000')),
 ('A WHACK ON THE SIDE OF THE HEAD ', Decimal('4.0000000000000000')),
 ('A Year In Provence', Decimal('5.0000000000000000')),
 ('A Year in Provence (Vintage Departures)', Decimal('5.0000000000000000'))]

## Conclusion: We can see that the columnar storage is faster!