In [1]:
%load_ext sql

In [2]:
import pandas as pd
import boto3
import json
import configparser
import psycopg2
from botocore.exceptions import ClientError

In [3]:
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))
KEY=config.get('AWS','key')
SECRET= config.get('AWS','secret')

DWH_DB= config.get("CLUSTER","DB_NAME")
DWH_DB_USER= config.get("CLUSTER","DB_USER")
DWH_DB_PASSWORD= config.get("CLUSTER","DB_PASSWORD")
DWH_PORT = config.get("CLUSTER","DB_PORT")

DWH_ENDPOINT= config.get("CLUSTER","HOST")

In [4]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://awsuser:Passw0rd@redshift-cluster-1.ccftyi8dghcq.us-west-2.redshift.amazonaws.com:5439/dev

'Connected: awsuser@dev'

# CECKING IF THE ETL LOADED THE TABLES

In [6]:
%sql SELECT COUNT(*) AS TOTAL FROM DIM_DATE;

 * postgresql://awsuser:***@redshift-cluster-1.ccftyi8dghcq.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(634,)]

In [7]:
%sql SELECT * FROM DIM_DATE LIMIT 5

 * postgresql://awsuser:***@redshift-cluster-1.ccftyi8dghcq.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[(20160905, datetime.date(2016, 9, 5), 2016, 3, 9, 5, 36, False),
 (20160913, datetime.date(2016, 9, 13), 2016, 3, 9, 13, 37, False),
 (20160915, datetime.date(2016, 9, 15), 2016, 3, 9, 15, 37, False),
 (20161005, datetime.date(2016, 10, 5), 2016, 4, 10, 5, 40, False),
 (20161008, datetime.date(2016, 10, 8), 2016, 4, 10, 8, 40, True)]

In [8]:
%sql SELECT COUNT(*) AS TOTAL FROM DIM_CUSTOMERS;

 * postgresql://awsuser:***@redshift-cluster-1.ccftyi8dghcq.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(15083455,)]

In [9]:
%sql SELECT * FROM DIM_CUSTOMERS LIMIT 5

 * postgresql://awsuser:***@redshift-cluster-1.ccftyi8dghcq.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[('00012a2ce6f8dcda20d059ce98491703', '6273', 'osasco', 'SP', -23.4999816170003, -46.7698541645223),
 ('00012a2ce6f8dcda20d059ce98491703', '6273', 'osasco', 'SP', -23.4940697607479, -46.7668895707773),
 ('00012a2ce6f8dcda20d059ce98491703', '6273', 'osasco', 'SP', -23.5028652644988, -46.7702355448094),
 ('00012a2ce6f8dcda20d059ce98491703', '6273', 'osasco', 'SP', -23.5015965051359, -46.7710896257429),
 ('00012a2ce6f8dcda20d059ce98491703', '6273', 'osasco', 'SP', -23.4948387544747, -46.7670281313418)]

In [10]:
%sql SELECT COUNT(*) AS TOTAL FROM DIM_PAYMENTS;

 * postgresql://awsuser:***@redshift-cluster-1.ccftyi8dghcq.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(103886,)]

In [11]:
%sql SELECT * FROM DIM_PAYMENTS LIMIT 5

 * postgresql://awsuser:***@redshift-cluster-1.ccftyi8dghcq.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[(0, 'b81ef226f3fe1789b1e8b2acac839d17', 1, 'credit_card', 8),
 (6, '771ee386b001f06208a7419e4fc1bbd7', 1, 'credit_card', 1),
 (8, '1f78449c87a54faf9e96e88ba1491fa9', 1, 'credit_card', 6),
 (12, '616105c9352a9668c38303ad44e056cd', 1, 'credit_card', 1),
 (14, '769214176682788a92801d8907fa1b40', 1, 'credit_card', 4)]

In [12]:
%sql SELECT COUNT(*) AS TOTAL FROM DIM_PRODUCTS;

 * postgresql://awsuser:***@redshift-cluster-1.ccftyi8dghcq.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(32951,)]

In [13]:
%sql SELECT * FROM DIM_PRODUCTS LIMIT 5

 * postgresql://awsuser:***@redshift-cluster-1.ccftyi8dghcq.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[('00088930e925c41fd95ebfe695fd2655', 'automotivo'),
 ('000d9be29b5207b54e86aa1b1ac54872', 'relogios_presentes'),
 ('001b237c0e9bb435f2e54071129237e9', 'cama_mesa_banho'),
 ('001b72dfd63e9833e8c02742adf472e3', 'moveis_decoracao'),
 ('001c5d71ac6ad696d22315953758fa04', 'cama_mesa_banho')]

In [14]:
%sql SELECT COUNT(*) AS TOTAL FROM DIM_SELLERS;

 * postgresql://awsuser:***@redshift-cluster-1.ccftyi8dghcq.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(435087,)]

In [15]:
%sql SELECT * FROM DIM_SELLERS LIMIT 5

 * postgresql://awsuser:***@redshift-cluster-1.ccftyi8dghcq.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[('002100f778ceb8431b7a1020ff7ab48f', '14405', 'franca', 'SP', -20.5171079299931, -47.4042612937523),
 ('002100f778ceb8431b7a1020ff7ab48f', '14405', 'franca', 'SP', -20.521272208629, -47.403025962266),
 ('002100f778ceb8431b7a1020ff7ab48f', '14405', 'franca', 'SP', -20.5367791178138, -47.4084129832537),
 ('002100f778ceb8431b7a1020ff7ab48f', '14405', 'franca', 'SP', -20.5194286107232, -47.402328718709),
 ('002100f778ceb8431b7a1020ff7ab48f', '14405', 'franca', 'SP', -20.5151096902842, -47.4017265538376)]

In [16]:
%sql SELECT COUNT(*) AS TOTAL FROM FACT_ORDERS;

 * postgresql://awsuser:***@redshift-cluster-1.ccftyi8dghcq.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(107024,)]

In [17]:
%sql SELECT * FROM FACT_ORDERS LIMIT 5

 * postgresql://awsuser:***@redshift-cluster-1.ccftyi8dghcq.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[('25e8ea4e93396b6fa0d3dd708e76c1bd', '2028bf1b01cafb2d2b1901fca4083222', 20171212, 'cc419e0650a3c5ba77189a1882b7556a', 2, '25b14b69de0b6e184ae6fe2755e478f9', 8.72, 56.99, 1, 'delivered'),
 ('d88e0d5fa41661ce03cf6cf336527646', '29ef8f163a85d31f5a88354c0007a6d1', 20171128, 'a67780aba9dd436e7ac0aa1f889e73ec', 10, 'fe0c5425832ac53c3be5cb4aea25b60f', 16.83, 171.9, 1, 'delivered'),
 ('8ac09207f415d55acff302df7d6a895c', 'b3e40ff639c185b9d726b4b19c17e6cd', 20180129, '7a67c85e85bb2ce8582c35f2203ad736', 18, '2d8bf5f6862af587af2e0b085a04bf0d', 14.16, 229.99, 1, 'delivered'),
 ('8cd68144cdb62dc0d60848cf8616d2a4', '002af88741ba70c7b5cf4e4a0ad7ef85', 20170804, '3a734b715d333a2588a3d54a0c9b8746', 24, 'c03b40c7971bc52b3d018247891270c5', 96.66, 234.0, 6, 'delivered'),
 ('1dcf0c8cd36ffaf57784fbdc90079310', 'c9ea06f7fd4bd778e96031f46f60dfb9', 20180419, '48436dade18ac8b2bce089ec2a041202', 38, '34955e04695a861e22cfc5600244118d', 57.25, 99.9, 1, 'delivered')]

# QUALITY CHECKS

### Total revenue per year (STAGING AREA)

In [9]:
%%sql
SELECT EXTRACT(YEAR FROM order_purchase_timestamp) AS year,
       SUM(revenue) AS total_revenue
FROM (SELECT order_id,
             ROUND(SUM(price) + SUM(freight_value),2) AS revenue
      FROM staging_items
      GROUP BY order_id) a
JOIN staging_orders o
ON a.order_id = o.order_id
WHERE order_status = 'delivered'
GROUP BY year
ORDER BY year;

 * postgresql://awsuser:***@redshift-cluster-1.ccftyi8dghcq.us-west-2.redshift.amazonaws.com:5439/dev
3 rows affected.

[(2016, 46653.74), (2017, 6921535.23999988), (2018, 8451584.76999992)]

### Total revenue per year (STAR SCHEMA)

In [13]:
%%sql
SELECT d.year,
       SUM(f.freight_value + f.price) AS total_revenue
FROM fact_orders f
    JOIN dim_date d
        ON f.date_key = d.date_key
WHERE order_status = 'delivered'
GROUP BY d.year
ORDER BY d.year

 * postgresql://awsuser:***@redshift-cluster-1.ccftyi8dghcq.us-west-2.redshift.amazonaws.com:5439/dev
3 rows affected.

[(2016, 46653.74), (2017, 6921535.23999986), (2018, 8451584.76999993)]

### Best-selling product categories by year (STAGING AREA)

In [19]:
%%sql
SELECT year, product_category_name, total_revenue
FROM (SELECT year, p.product_category_name,
             SUM(t1.revenue) AS total_revenue,
             RANK() OVER (PARTITION BY year ORDER BY SUM(t1.revenue) DESC)
             AS value_rank
      FROM (SELECT order_id, EXTRACT(YEAR FROM order_purchase_timestamp) AS year
            FROM staging_orders
            WHERE order_status = 'delivered') o
      JOIN (SELECT order_id, product_id,
                   ROUND(SUM(price) + SUM(freight_value),2)
                   AS revenue
            FROM staging_items
            GROUP BY order_id, product_id) t1
      ON o.order_id = t1.order_id
      JOIN staging_products p
      ON t1.product_id = p.product_id
      GROUP BY year, p.product_category_name) t3
WHERE value_rank = 1;

 * postgresql://awsuser:***@redshift-cluster-1.ccftyi8dghcq.us-west-2.redshift.amazonaws.com:5439/dev
3 rows affected.

[(2016, 'moveis_decoracao', 6899.35),
 (2017, 'cama_mesa_banho', 580949.200000001),
 (2018, 'beleza_saude', 866810.339999998)]

### Best-selling product categories by year (STAR SCHEMA)

In [43]:
%%sql
SELECT year, product_category_name, total_revenue
FROM(
    SELECT d.year,
           p.product_category_name,
           SUM(f.freight_value + f.price) AS total_revenue,
           RANK() OVER (PARTITION BY year ORDER BY SUM(f.freight_value + f.price) DESC) R
    FROM fact_orders f
        JOIN dim_products p
            ON f.product_id = p.product_id
        JOIN dim_date d
            ON f.date_key = d.date_key
    WHERE order_status = 'delivered'
    GROUP BY d.year,p.product_category_name
    ORDER BY d.year,SUM(f.freight_value + f.price) DESC, p.product_category_name
)
WHERE r=1
ORDER BY year

 * postgresql://awsuser:***@redshift-cluster-1.ccftyi8dghcq.us-west-2.redshift.amazonaws.com:5439/dev
3 rows affected.

[(2016, 'moveis_decoracao', 6899.35),
 (2017, 'cama_mesa_banho', 580949.2),
 (2018, 'beleza_saude', 866810.339999998)]